<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="layout/layout.html">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="mainFragment" class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
        <h3 class="text-center mb-3">Sign In</h3>
        <div th:if="${param.errorPass}" class="alert alert-danger text-center">
            Неверный пароль. Попробуйте снова.
        </div>
        <div th:if="${param.errorUserExist}" class="alert alert-danger text-center">
            Пользователь с заданным логином уже существует. Попробуйте снова.
        </div>
        <form th:action="@{/register}" method="post">
            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text" name="fullName" required class="form-control" placeholder="Enter your full name">
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" name="email" required class="form-control" placeholder="Enter your email">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" required class="form-control" placeholder="Enter your password">
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" name="confirmpassword" required class="form-control" placeholder="Confirm your password">
            </div>
            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
        </form>
        <div class="text-center mt-3">
            <a th:href="@{/login}" class="text-primary">Already registered? Log in</a>
        </div>
    </div>
</div>
</body>
</html>